.form_description {
    text-align: center;
    margin: 5vh 0vh;
}

.header {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 3.5em;
    margin-bottom: 0px;
}

.description {
    font-size: 1.2em;
    margin: 0.5em auto 0.5em auto;
    width: 600px;
}

@media (max-width: 750px) {
    .description {
        width: 450px;
    }
}

@media (max-width: 499px) {
    .description {
        width: 400px;
    }
}