.form_description {
    text-align: center;
    margin: 5vh 0vh;
}

.header {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 3.5em;
    margin-bottom: 0px;
}

.description {
    font-size: 1.2em;
    margin: 0.5vh 30vw;
}