.featured-header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vh;
}

.featured-header {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 2.8em;
}

.featured-component-container-parent {
    display: flex;
    justify-content: center;
}

.featured-component-container {
    margin: 1.5em;
}