label {
    margin: 10px 10px;
}

textarea {
    margin: 15px 10px;
}

.inline_question {
    display: block;
    float: left;
    line-height: 50px;
}

.row_question {
    margin: 20px 0px;
}

.response_box_short {
    border: 0;
    background-color: transparent;
    outline: none;
    width: 248px;
    margin-right: 10px;
}

.response_box_long {
    border: 0;
    background-color: transparent;
    outline: none;
    width: 600px;
}

.paragraph_response {
    border: 0;
    background-color: transparent;
    outline: none;
    resize: none;
}

textarea {
    display: block;
}

.vertical_divider {
    display: block;
    float: left;
    border-left: 1px solid rgb(0, 0, 0);
    height: 50px;
}

.horizontal_divider {
    border-top: 1px solid rgb(0, 0, 0);
    width: 100%;
    clear: both;
}

.form_questions {
    border: 1px solid black;
    display: block;
    margin: auto;
    width: 700px;
}

.submit {
}