.leadership-frame {
    display: flex;
    flex-direction: column;
    border-top:  1px solid rgb(0, 0, 0);
    border-bottom:  1px solid rgb(0, 0, 0);
    width: 870px;
}

.leadership-section {
    margin: 1em 2em 1em 2em;
}

.horizontal-divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #000;
}

.leadership-org {
    font-family: 'Cormorant', serif;
    font-size: 1.6em;
}

.leadership-role-title {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 1.2em;
    margin: 0;
}

.leadership-description {
    font-family: 'Courier Prime', monospace;
    font-size: 0.9em;
    color: #807f7f;
}