.made_with_container {
  position: relative;
}

.made_with {
  position: fixed;
  bottom: 0;
  right: 1em;
}

body {
  overflow-x: hidden;
}

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ece8e5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 2px solid #ece8e5;
}